.loading-container {
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: #121e45c5;
    color: white;

    p{
      color: white;
    }
 
    .loading-balls-container {
       display: flex;
       justify-content: center;
       align-items: center;
       gap: 1rem;
       animation-name: loading-animation;
       animation-duration: 2s;
       animation-iteration-count: infinite;
 
       > * {
          position: relative;
          border-radius: 1rem;
          width: 1rem;
          height: 1rem;
          background-color: white;
       }
    }
 }
 
 @keyframes loading-animation {
    0% {
       transform: rotate(0deg);
    }
 
    100% {
       transform: rotate(360deg);
    }
 }
 